* {
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Montserrat";
    font-weight: 700;
    line-height: 1.2;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.portfolio-modal .modal-content h2,
.portfolio-modal .modal-content .h2 {
    font-size: 3rem;
    line-height: 3rem;
}

#info {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.main {
    font-family: "Jua", sans-serif;
    font-size: 70px;
    margin: 70px 50px 70px;
}

hr.menu_out {
    width: 70%;
    height: 3px;
    background-color: black;
    border: 0;

}

hr.menu_in {
    width: 70%;
    height: 1px;
    background-color: black;
    border: 0;

}

.first {
    width: 30%;
    box-sizing: border-box;
    margin-left: 10%;
}

.second {
    width: 30%;
    box-sizing: border-box;
}

.third {
    width: 30%;
    box-sizing: border-box;
}

.my_comment_ul {
    list-style: none;
    padding-left: 0px;
}